$myColor: #FFF;

$myOtherColor: #000;

$liColor: #444;

$myFontColor: #FFF;

$myOtherFontColor: #CCC;

$myFontSize: 24px;

$myFontFace: "Verdana";

$myPadding: 5%;

$myMargin: 10%;

@mixin border-radius($radius){
    border-radius: $radius;
}

@mixin padMargin($param){
    padding: $param;
    margin: $param;
}

.top {
    background-color: $myOtherFontColor;
}

.box {
    @include border-radius(10px);
    @include padMargin(25px);
    border: 2px solid #CCCCCC;
    box-shadow: 1px 2px 3px #AAAAAA;
    color: #FCFCFC;
    max-width: 600px;
}

#boxA {
    @extend .box;
    background-color: #888;
}

#boxB {
    @extend .box;
    background-color: #444;
}

#boxC {
    @extend .box;
    background-color: #AAA;
}

body {
    background: $myColor;
    color: $myFontColor;
    font-size: $myFontSize;
    font-family: $myFontFace;
   
   div {
       background: $myOtherColor;
       padding: $myPadding;

    li {
        color: $liColor;
        background: $myFontColor;
        border: 2px solid #888;
        @extend .box;
        @include padMargin(25px);
        font-family: "Times New Roman";
    }

   }
}

